# dependencies
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# builds
dist/
build/

# misc
.DS_Store
*.local
.env
.env.*
!.env.example

# editors
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*